<nav>
    <div class="logo">
      <a href="#">Your Logo</a>
    </div>
    <div class="menu-toggle">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="navigation">
      <!-- <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li> -->
    </ul>
  </nav>

  <div class="about-container">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu turpis id elit commodo convallis. In hac habitasse platea dictumst. Quisque molestie pharetra efficitur. Ut vel eros at ex elementum iaculis a ac augue. Donec euismod posuere augue, non feugiat lacus luctus at. Nullam tincidunt sapien in elit bibendum, vel iaculis tellus tristique. Praesent bibendum, velit sit amet consequat dapibus, tortor lectus bibendum sem, vitae sagittis sapien nunc sit amet eros. Vivamus fermentum non nisi sit amet tristique.</p>
  </div>