<nav>
  <div class="logo">
    <a href="#">Your Logo</a>
  </div>
  <div class="menu-toggle">
    <i class="fas fa-bars"></i>
  </div>
  <ul class="navigation">
    <!-- <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li> -->
  </ul>
</nav>
<h1 style="margin-left: 30%;">Balance :{{Balance_Info[0].Balance}}</h1>
<div class="container">
  
  <div class="payment" *ngIf="!this.makePayment">
    <a [routerLink]="['/payment']">Make Payment</a>
    <img src="assets/Image/payment.png" alt="">
  </div>
  <div class="home" *ngIf="!this.makePayment">
    <a [routerLink]="['/home']">Home</a>
    <img src="assets/Image/home.png" alt="">
  </div>

  <div class="about" *ngIf="!this.makePayment">
    <a [routerLink]="['/HCHRMSPayment']">Pay To HCHRMS</a>
    <img src="assets/Image/payment.png" alt="">
  </div>
  <div class="logout" *ngIf="!this.makePayment">
    <a [routerLink]="['/login']">Log out</a>
    <img src="assets/Image/logout.jpg" alt="">
  </div>  
</div>


